@page "/schedule"

@using FourthDown.Client.Services
@using FourthDown.Api.Models
@inject IDataService DataService

<h1>Schedule</h1>

<p>This is the schedule.</p>

@if (results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>GameId</th>
                <th>Stadium</th>
                <th>Date</th>
                <th>Game Start</th>
                <th>Home Team</th>
                <th>Home Coach</th>
                <th>Home Score</th>
                <th>Away Team</th>
                <th>Away Coach</th>
                <th>Away Score</th>
                <th>Result</th>
                <th>Total</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var team in results)
            {
                <tr>
                    <td>@team.GameId</td>
                    <td>@team.Stadium</td>
                    <td>@team.Gameday.Date</td>
                    <td>@team.Gametime</td>
                    <td>@team.HomeTeam</td>
                    <td>@team.HomeCoach</td>
                    <td>@team.HomeScore</td>
                    <td>@team.AwayTeam</td>
                    <td>@team.AwayCoach</td>
                    <td>@team.AwayScore</td>
                    <td>@team.Result</td>
                    <td>@team.Total</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Game> results;

    protected override async Task OnInitializedAsync()
    {
        results = await DataService.GetGames();
    }
}
